numpy
scipy
scikit-learn
matplotlib
tqdm
gensim
tensorflow-gpu
jupyter
ipython
git+https://github.com/dawars/opendr/#subdirectory=chumpy
git+https://github.com/dawars/opendr/#subdirectory=opendr
readchar
